@import "tailwindcss";

/* FlyonUI plugin */
@plugin "flyonui";
@import "flyonui/variants.css";
@source "flyonui/flyonui.js";

/* Iconify for Tailwind */
@plugin "@iconify/tailwind4";

@import "./App.css"




